# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
build/
dist/

# Logs
*.log

# macOS Finder metadata
.DS_Store

# ---- Conda ----
# Environments
*.conda
*.lock

# Local environment dirs
conda_env/
*.env

# ---- VSCode / IDE ----
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
